html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
  
body {
    margin: 0;
    overflow-x: hidden;
    font-size: 100%;
    background-color: #FBEEC1; 
}

a {
    text-decoration: none;
}
  
  .home-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .home-nav-titles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30vw;
    font-family: "Audiowide", sans-serif;
  }